 *{
    box-sizing: border-box;
 }
 body{
    background-color: #f6f5f5;
 }
 .container{
    width: 360px;
    margin: 100px auto;
    border-radius: 20px;
    background-color:  #fff;
    padding: 56px 20px 91px 20px;
 }
 button{
    border:none;
     background-color: white;
 }
 .menu-items h2{
   padding: 0 4px;
 }
 .position-img{
   width: 74px;
   height: 74px;
   border-radius: 12px;
   background-color: #eae2b7;
 }

   .position-title{
      color: black;
   } 
.menu-position{
   width: 100px;
   float:left;
}
   .menu-position :hover .position-img{
      
   
      background-color: #eae2b7;
   }
   .menu-position :hover  .position-title{
      background-color: #eae2b7;
   }  
   
    .position-img2{
         float: inline-start;
    }
     .menu-add{
      text-align:center;
      color: gray;
   }
   .buy-add{
      color: greenyellow;
   }